.footer{
    height: 10vh;
    /* background-color: var(--secondary-color); */
    background-color: rgba(25, 101, 126,0.9);
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
    
}
.footer__wrapper{
    color: white;
}
.footer__wrapper p{
 text-align: center;
}