<div class="left__panel__block">
  <div class="left__menu" id="home_screen" routerLink="/index" routerLinkActive="menu__select"
    [routerLinkActiveOptions]="{ exact: true }">
    <div class="left__menu__icon material-symbols-outlined">home</div>
    <div><a class="left__menu__name">Home</a></div>
  </div>

  <div *ngIf="mainservice.loginDto.roles[0] === 'DS'" class="left__menu" id="gs_screen" routerLink="/gs-details" routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined icon__size">
      manage_accounts
    </div>
    <div><a class="left__menu__name" >GS</a></div>
  </div>

  <div *ngIf="mainservice.loginDto.roles[0] === 'PEOPLE'" class="left__menu" id="certificate_screen" routerLink="/certificates" routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined icon__size">
      manage_accounts
    </div>
    <div><a class="left__menu__name" >certificates</a></div>
  </div>

  <div *ngIf="mainservice.loginDto.roles[0] === 'GS'|| mainservice.loginDto.roles[0] === 'DS'" class="left__menu" id="user_screen" routerLink="/user-details" routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined icon__size">
      person
    </div>
    <div><a class="left__menu__name">Citizen</a></div>
  </div>

  <div *ngIf="mainservice.loginDto.roles[0] === 'GS'|| mainservice.loginDto.roles[0] === 'DS'" class="left__menu" id="reports_screen" routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined icon__size">
      lab_profile
    </div>
    <div><a class="left__menu__name">Reports</a></div>
  </div>

  <div *ngIf="mainservice.loginDto.roles[0] === 'PEOPLE'" class="left__menu" id="vote_screen" routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined icon__size">
      how_to_vote
    </div>
    <div><a class="left__menu__name">Vote</a></div>
  </div>

  <!-- <div class="left__menu" id="employment_screen" routerLink="/tabs " routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined icon__size">
      badge
    </div>
    <div><a class="left__menu__name">Employement</a></div>
  </div> -->

  <div class="left__menu" id="notification_screen" routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined icon__size">
      circle_notifications
    </div>
    <div><a class="left__menu__name" routerLink="/tabs">Notification</a></div>
  </div>

  <div *ngIf="mainservice.loginDto.roles[0] === 'GS'" class="left__menu" id="setting_screen" routerLink="/job" routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined">work</div>
    <div><a class="left__menu__name">Job</a></div>
  </div>

  <div class="left__menu" id="setting_screen" routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined">settings</div>
    <div><a class="left__menu__name">setting</a></div>
  </div>

  <div *ngIf="mainservice.loginDto.roles[0] === 'GS'|| mainservice.loginDto.roles[0] === 'DS'" class="left__menu" id="logout_screen" routerLink="/gn-division" routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined logout-icon">
      groups
    </div>
    <div><a class="left__menu__name">Gn_Division</a></div>
  </div>

  <div (click)="callLogout()" class="left__menu" id="logout_screen"  routerLinkActive="menu__select">
    <div class="left__menu__icon material-symbols-outlined logout-icon">logout</div>
    <div><a class="left__menu__name">Logout</a></div>
  </div>
</div>