<div class="container">
    <div class="job_main">
        <div class="job_inner">
            <!-- <div class="go_back" role="button">
                <span class="material-symbols-outlined">keyboard_backspace</span>
            </div> -->
            <div class="form_group">
                <label for="reject">Job Title</label>
                <input type="text" id="reject">
            </div>
            <div class="form_group">
                <label for="reject">Description</label>
                <input type="text" id="reject">
            </div>
            <div class="btn_job">
                <button>Add</button>
            </div>
        </div>
    </div>
