.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #fff192, #FEF9C3); */
    background: linear-gradient(135deg, #19657e, #003041);
    /* padding: 20px; */
  }
  .img-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .img-div img{
   height: 100px;
   width: 100px;
  }
  .login-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  
    h1 {
      font-size: 24px;
      color: #333;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 14px;
      color: #666;
    }
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  
    label {
      font-size: 14px;
      color: #333;
    }
  
    input {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 14px;
      outline: none;
  
      &:focus {
        border-color: #3f51b5;
      }
    }
  }
  
  .login-button {
    background-color: #19657e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color:#0f7699e7;
    }
  }
  
  .social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;

    .google-login {
      background-color: transparent;
      outline: none;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #f5f5f5;
      }
     
    }
  }
  .inner_social-login{
    height: 100%;
    width: 80%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
  }
  .social-icon {
    width: 20px;
    height: 20px;
    margin-right: 50px;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  
    .link {
      color: #3f51b5;
      text-decoration: none;
      font-size: 14px;
  
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  
  @media (max-width: 600px) {
    .login-card {
      width: 90%;
      padding: 15px;
    }
  }