<div class="certificates">
    <div class="images_div">
        <img src="certificates.png" alt="certificates">
    </div>
    <div class="content">
        <div class="title">
            <p>Request to Certificates</p>
        </div>
        <div class="request_content">
            <form action="">
                <div class="form-group">
                    <label for="">Select Certificates</label>
                    <select [(ngModel)]="certificateDto.typeOfCertificate" name="certificates" id="certificates">
                        <option value="" disabled>Choose Certificates..</option>
                        <option value="CHARACTER_CERTIFICATE">Character Certificate</option>
                        <option value="Income Certificates">Income Certificates</option>
                        <option value="Residency Certificates">Residency Certificates</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="">Required Organization</label>
                    <input [(ngModel)]="certificateDto.requestedOrganization" name="organization" type="text" placeholder="Enter organization name">
                </div>
                <div class="form-group">
                    <label for="">Reason for Certificate</label>
                    <textarea [(ngModel)]="certificateDto.reason" name="reason" id="" rows="5" placeholder="type here.."></textarea>
                </div>
            </form>
        </div>
        <div class="btn">
            <div class="inner_btn" (click)="doRequest()">
                <button >Send</button>
                <span class="material-symbols-outlined">send</span>
            </div>
        </div>
    </div>
</div>