<div class="parent__div">
    <!-- <div class="login__details">
        <p>username</p>
        <span class="material-symbols-outlined">person</span>
    </div> -->
    <div class="Welcome__msg">
        <p>Welcome to Citizen Portal</p>
    </div>
    <div  class="content">
        <div class="notification">
            <div class="inner_notification">
                <div>
                    <p>Today News</p>
                </div>
                <div>
                    <li (click)="enableNotificationTab()" ><a>Votinglist released</a></li>
                </div>
            </div>
        </div>
        <div class="certification__links">
            <div class="inner_certification__links_1">
                <div class="inner_certification__links_title">
                    <p>Character Certificates</p>
                </div>
                <div class="inner_certification__links_content">
                    <p>click the below to explore about character certificates is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.....</p>
                </div>
                <!-- <div class="inner_certification__links_button">
                    <button>Explore</button>
                </div> -->
            </div>
            <div class="inner_certification__links_2">
                <div class="inner_certification__links_title">
                    <p>Income Certificates</p>
                </div>
                <div class="inner_certification__links_content">
                    <p>click the below to explore about character certificates is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.....</p>
                </div>
                <!-- <div class="inner_certification__links_button">
                    <button>Explore</button>
                </div> -->
            </div>
            <div class="inner_certification__links_3">
                <div class="inner_certification__links_title">
                    <p>Other Certificates</p>
                </div>
                <div class="inner_certification__links_content">
                    <p>click the below to explore about character certificates is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.....</p>
                </div>
                <!-- <div class="inner_certification__links_button">
                    <button>Explore</button>
                </div> -->
            </div>
        </div>
    </div>



    <!-- DS section -->
   
    <!-- DS section User details -->
    
    
</div>