<div class="registration-container">
  <div class="registration-card">
    <div class="img-div">
      <img src="logo.png" alt="Logo">

    </div>
    <div class="header">
      <h1>Citizen Portal</h1>
      <p>Create your account</p>
    </div>

    <form class="registration-form">
      <div class="form-group">
        <label for="fname">FirstName</label>
        <input [(ngModel)]="registerDto.firstName" name="firstname" type="text" id="fname" placeholder="Enter your firstname" required>
      </div>
      <div class="form-group">
        <label for="lname">LastName</label>
        <input [(ngModel)]="registerDto.lastName" name="lastname" type="text" id="lname" placeholder="Enter your lastname" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input [(ngModel)]="registerDto.username" name="username" type="text" id="username" placeholder="Enter your username" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="registerDto.email" name="email" type="text" id="email" placeholder="Enter your email" required>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input [(ngModel)]="registerDto.phone" name="phone" type="tel" id="phone" placeholder="Enter your phone number" required>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input [(ngModel)]="registerDto.city" name="city" type="text" id="city" placeholder="Enter your city" required>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input [(ngModel)]="registerDto.address" name="address" type="text" id="address" placeholder="Enter your address" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="registerDto.password" name="password" type="password" id="password" placeholder="Enter your password" required>
      </div>

      <div class="form-group select_tag">
        <label for="gender">Gender</label>
        <select  [(ngModel)]="registerDto.gender" name="gender" style="padding: 6px;border: 1px solid rgb(172, 172, 172); border-radius: 5px;">
          <option value="MALE">MALE</option>
          <option value="FEMALE">FEMALE</option>
        </select>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input [(ngModel)]="registerDto.age" name="age" type="number" id="age" required>
      </div>

      <div class="form-group">
        <label for="dob">DOB</label>
        <input [(ngModel)]="registerDto.dateOfBirth" name="dateOfBirth" type="date" id="dob" placeholder="Enter your dob" required>
      </div>

      <div class="form-group">
        <label for="familycardno">Family Card No</label>
        <input [(ngModel)]="registerDto.familyCardNo" name="familyCardNo" type="text" id="familycardno" placeholder="Enter your number" required>
      </div>
      <div class="form-group">
        <label for="nic">NIC</label>
        <input [(ngModel)]="registerDto.nic" name="nic" type="text" id="nic" placeholder="Enter your nic" required>
      </div>
      <!-- <div class="form-group">
        <label for="gramaNiladhariDivision">GramaNiladhari Division</label>
        <select
        [(ngModel)]="registerDto.gramaNiladhariId" name="gramaNiladhariDivision" style="padding: 6px;border: 1px solid rgb(172, 172, 172); border-radius: 5px;">
        <option *ngFor="let division of gnDivisionResponseDto" [value]="division.id">
          {{ division.code }}
        </option>
        </select>
      </div> -->
      <!-- sub details -->
      <div class="sub_details">
        <div class="form-group">
          <label for="mother">Mother</label>
          <input [(ngModel)]="registerDto.mother" name="mother" type="checkbox" id="mother" required>
        </div>

        <div class="form-group">
          <label for="father">Father</label>
          <input [(ngModel)]="registerDto.father" name="father" type="checkbox" id="father" required>
        </div>

        <div class="form-group">
          <label for="civil">Civil</label>
          <select  [(ngModel)]="civilType" name="civilType">
            <option value="Single">Single</option>
            <option value="Married">Married</option>
          </select>
        </div>

        <!-- if married -->
        <div class="form-group" *ngIf="civilType == 'Married'">
            <label for="mother">Children</label>
            <input [(ngModel)]="registerDto.child" name="child" type="checkbox" id="mother" required>
          </div>
      </div>



      <button (click)="doRegister()" type="submit" class="register-button">Register</button>

      <div class="links">
        <p>Already have an account? <a routerLink="/login" class="link">Login here</a></p>
      </div>
    </form>
  </div>
</div>